* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container__left {
    width: 70%;
}

.container__right {
    width: 30%;
}
.container__left .logo {
    position: absolute;
    display: inline-block;
    top: 0px;
    margin-top: 30px;
    margin-left: 30px;
}

.container__left .logo img {
    height: 100px;
    width: 100px;
}
.login-form{
    margin: 20px;
    margin-right: 40px;
    background-color: #ffffff;
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 7px -4px;
}
.container__left li {
    position: absolute;
    color: rgb(196 28 33);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    top: 0px;
    padding-top: 140px;
    padding-left: 10px;
    list-style: none;
    font-size: 22px;
}
.header-title {
    text-transform: uppercase;
    color: rgb(196 28 33);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.input-box {
    border-radius: 90px;
    margin-bottom: 30px;
    border-top: none;
    box-shadow: 0px 2px 2px #196c45, 0px 4px 5px #196c45;
}
.input-box input {
    border-radius: 90px;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    border: none;

    outline: none;
}
.btn-box {
    text-align: center;
    margin-top: 30px;
    border-radius: 99px;
}
.btn-box button {
    border-radius: 99px;
    width: 100%;
    height: 48px;
    padding: 7.5px 15px;
    font-size: 16px;
    background-color: #2aa12b;
    color: #ffffff;
    border: none;
    outline: none;
}
.btn-box button:hover{
    cursor: pointer;
}

.container__right .login-form .tick-box{
    margin: 2px;
}
.container__right .login-form .tick-box label {
    color: #444444;
    font-size: 15px;
    line-height: 30px;
    margin-left: 10px;
}
.footer{
    margin-top: 30px;
    text-align: center;
}
.footer-opt{
    margin-bottom: 7px;
}
.footer a{
    margin: 3px;
    text-decoration: none;
    color: #2aa12b;
    font-weight: bold;
}
.footer a:hover{
    cursor: pointer;
}

.message-header_log{
    position: absolute;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background-color: #FF9966;
    z-index: 999;
}

.mes_logs{
    position: absolute;
    margin-top: 6px;
    color: red;
}